.dashboard {
    padding: 20px;
}

.dashboard h2 {
    font-size: 2em;
    text-align: center;
}

.add-product {
    border: 1px solid black;
    margin: 100px 700px;
    padding-bottom: 10px;
}

.sort-options {
    font-size: 18px;
    cursor: pointer;
    color: black;
    border: none;
    display: flex;
}

button:hover {
    background-color: black;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:dimgrey;
}

.back-option {
    margin: 10px;
}
.create-btn {
    display: inline-flex;
    margin-top: 90px;
    padding: 15px 90px;
}
.name-field {
    padding: 10px;
    margin-top: 60px;
}

input {
    background-color: rgba(160, 153, 153, 0.438);
    padding: 10px 50px;
    margin: 10px;
}

select {
    background-color: rgba(160, 153, 153, 0.438);
    padding: 10px 75px;
    margin: 10px;
}